@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/outfit-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --body-font-size: calc(15 / 16 * 1rem);

  --mobile: calc(375 / 16 * 1rem);
  --desktop: calc(1440 / 16 * 1rem);

  --card-shadow: 0 25px 60px -12px rgb(0 0 0 / 0.12)
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  font-size: var(--body-font-size);
  padding: 1rem
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.card {
  max-width: calc(320 / 16 * 1rem);
  background-color: var(--white);
  border-radius: 18px;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--card-shadow);
}

.card__image {
  border-radius: 10px;
}

.content-wrapper {
  padding: 0 12px;
}

h1 {
  font-size: calc(22 / 16 * 1rem);
  line-height: calc(28 / 16 * 1rem);
  font-weight: 700;
  margin-block-start: calc(24 / 16 * 1rem);
  margin-block-end: calc(16 / 16 * 1rem);
  color: var(--dark-blue);
  word-wrap: balanced;
}

p {
  color: var(--grayish-blue);
  margin-block-end: calc(20 / 16 * 1rem);
  font-weight: 400;
  line-height: calc(18 / 16 * 1rem);
}
